.header__portadaContacto{
    background-image: url(../images/patiogodoy.jpg);
    background-size: cover;
    background-position: 10%;
    .header__tituloContacto{
        width: 35rem;
        font-size: 3rem;
        margin-left:30rem;
        padding-top: 9rem;
        padding-bottom: 15rem;
        color:#990f0f;
    }
}

.main__seccionMapaSuites{
    display: flex;
    .main__lineaYTituloMapaSuites{
        display: flex;
        flex-direction: column;
        flex-flow: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        color: #640404;
        .main__lineaMapaSuites{
            display: flex;
            height: 2px;
            width: 60%;
            margin-top: 0.5rem;
        }
        .main__tituloMapaSuites{
            display: flex;
            align-items: flex-start;
            font-size: 2rem;
            margin-top:1.5rem;
        }
    }
    .main__mapaSuites{
        padding:1rem;
        width: 110%;
    }
    .main__parrafoMapaSuites{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        width: 80%;
        height: auto;
        z-index: 10;
        font-size: 14px;
        color:white;
        margin-top: 9rem;
        padding: 1.5rem;
        background-color:#640404;
        box-shadow: 0px 0px 20px #2c2323;
    }
} 

.main__seccionMapaStudios{
    display: flex;
    background-color:#640404;
    .main__parrafoMapaStudios{
        position: relative;
        @include flex-row-center;
        align-items: center;
        width: 90%;
        height: auto;
        z-index: 1000;
        font-size: 14px;
        color: 6404040;
        background-color: white;
        margin-top: 10rem;
        margin-left: 7rem;
        padding: 1.5rem;
        border-radius: 10px;
    }
    .main__lineaYTituloMapaStudios{
        display: flex;
        flex-direction: row;
        flex-flow: nowrap;
        justify-content: center;
        align-items: flex-end;
        .main__lineaMapaStudios{
            display: flex;
            height: 2px;
            width: 60%;
            color:white;
            margin-top: 0.5rem;
        }
        .main__tituloMapaStudios{
            display: flex;
            align-items: flex-start;
            font-size: 2rem;
            margin-top:1.5rem;
            color: white;
        }
    }
    .main__mapaStudios{
        padding:1rem;
        width: 100%;
        z-index: -100;
    }
}

.section__frase{
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
    padding: 2rem;
    text-align: center;
    margin-top:8rem;
    margin-left: 4rem;
    color: #990f0f;
    font-weight: bold;
    font-size: 36px;
    line-height: 4rem;
}
.section__contactanosForm{
    font-size: 12px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
    .section__contactanos{
    width:500px;
    height:450px;
    background:#e6e6e6;
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:10px 20px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    }
    .section__tituloContactanos{
        margin:10px 0;
        padding-bottom:10px;
        width:180px;
        color:#640404;
        border-bottom: 2px solid #640404;
    }
    .section__cuerpoContactanos{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: auto;
        width:100%;
        padding:10px;
        box-sizing:border-box;
        font-size:16px;
        color:#640404;
        padding:8px 12px;
        border:2px solid #640404;
        #mensaje{
            line-height:10px;
        }
        .section__botonContactanos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;
            align-items: center;
            background-color: #640404;
            border: 2px solid;
            color: white;
            padding: 15px 32px;
            text-align: center;
            font-size: 14px;
            border-radius: 28px;
            margin-top: 1rem;
            margin-right: 15rem;
            font-weight: 700;
            letter-spacing: 1.4px;
        }
    }
// FAQQQQQQQQQ


.section__faq{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
    .accordion-flush{
        margin-top:40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;
        .accordion-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-left: 4rem;
        padding-right: 4rem;
        }
    }
}
