.header__portadaContacto{
    background-image: url(../images/portada_contacto.png);
    background-size: cover;
    background-position: 10%;
    .header__tituloContacto{
        width: 70rem;
        font-size: 68px;
        margin-left:20rem;
        padding-top: 15rem;
        padding-bottom: 15rem;
        color: map-get($color,bordo);
    }
}

.main__seccionMapaSuites{
    display: flex;
    .main__lineaYTituloMapaSuites{
        display: flex;
        flex-direction: column;
        flex-flow: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
        color: map-get($color,bordo);
        letter-spacing: 2px;
        .main__lineaMapaSuites{
            display: flex;
            height: 2px;
            width: 60%;
            margin-top: 0.5rem;
        }
        .main__tituloMapaSuites{
            display: flex;
            align-items: flex-start;
            font-size: 2rem;
            margin-top:1.5rem;
        }
    }
    .main__mapaSuites{
        padding:1rem;
        width: 110%;
    }
    .main__parrafoMapaSuites{
        display: flex;
        flex-flow: column wrap;
        align-items: flex-end;
        width: 80%;
        height: auto;
        z-index: 10;
        font-size: 14px;
        color:map-get($color,colorclaro);
        margin-top: 9rem;
        padding: 1.5rem;
        background-color:map-get($color,bordo);
        box-shadow: 0px 0px 20px #2c2323;
    }
} 

.main__seccionMapaStudios{
    display: flex;
    background-color:map-get($color,bordo);
    .main__parrafoMapaStudios{
        position: relative;
        @include flex-row-center;
        align-items: center;
        width: 90%;
        height: auto;
        z-index: 1000;
        font-size: 14px;
        color: map-get($color,bordo);
        background-color: map-get($color,colorclaro);
        margin-top: 10rem;
        margin-left: 7rem;
        padding: 1.5rem;
    }
    .main__lineaYTituloMapaStudios{
        @extend .main__lineaYTituloMapaSuites;
        justify-content: center;
        .main__lineaMapaStudios{
            @extend .main__lineaMapaSuites;
            color:map-get($color,colorclaro);
            width: 50%
        }
        .main__tituloMapaStudios{
            @extend .main__tituloMapaSuites;
            color: map-get($color,colorclaro);
            letter-spacing: 2px;
        }
    }
    .main__mapaStudios{
        padding:1rem;
        width: 100%;
        z-index: -100;
    }
}

.section__frase{
    flex-wrap: wrap;
    align-items: center;
    width: 600px;
    padding: 2rem;
    text-align: center;
    margin-top:8rem;
    margin-left: 4rem;
    color: map-get($color,bordo);
    font-size: map-get($color,tamaño-subtitulo);
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section__contactanosForm{
    @include flex-row-center;
    flex-wrap: wrap;
    font-size: 12px;
    align-content: center;
}
    .section__contactanos{
    width:500px;
    height:450px;
    background:map-get($color,colorclaro);
    border-radius:8px;
    box-shadow:0 0 15px -6px #000;
    margin:calc(50vh - 220px) auto;
    padding:10px 20px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    }
    .section__tituloContactanos{
        margin:10px 0;
        padding-bottom:10px;
        width:180px;
        color:map-get($color,bordo);
        border-bottom: 2px solid #640404;
    }
    .section__cuerpoContactanos{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        height: auto;
        width:100%;
        padding:10px;
        box-sizing:border-box;
        font-size:map-get($font-style,tamaño-parrafo);
        color:map-get($color,bordo);
        padding:8px 12px;
        border:2px solid #640404;
        #mensaje{
            line-height:10px;
        }
        .section__botonContactanos{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: nowrap;
            align-items: center;
            background-color: map-get($color,bordo);
            border: 2px solid;
            color: map-get($color,colorclaro);
            padding: 15px 32px;
            text-align: center;
            font-size: 14px;
            border-radius: 28px;
            margin-top: 1rem;
            margin-right: 15rem;
            font-weight: map-get($font-style,w-700);
            letter-spacing: 1.4px;
        }
    }

.section__faq{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: map-get($color , colorclaro );
    .accordion-flush{
        margin-top:40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 4rem;
        padding-right: 4rem;
        background-color: map-get($color , colorclaro );

        .accordion-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-left: 4rem;
        padding-right: 4rem;
            background-color: map-get($color , colorclaro );

        }
    }
}

@media only screen and (max-width: 500px) {
    .header__portadaContacto{
        margin-right:0;
        margin-left:0;
        background-position: center;
            .header__tituloContacto{
                display: flex;
                margin-left: 0;
                font-size: 36px;
                flex-wrap: wrap;
            }
            
        }   
        .main__seccionMapaSuites{
            display: block;
            flex-direction: row;
            flex-wrap: wrap;
            .main__mapaSuites{
                width: 80%;
                margin-left: 2rem;
                margin-right: 0;
            }
            .main__parrafoMapaSuites{
                margin-top: 0;
                margin-left: 2rem;
                margin-right: 0;
            }
        }
        .main__seccionMapaStudios{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .main__mapaStudios{
                display: flex;
                width: 80%;
                margin-left: 2rem;
                margin-right: 0;
                order:1;
            }
            .main__parrafoMapaStudios{
                display: flex;
                margin-top: 0;
                margin-left: 2rem;
                margin-right: 0;
                order:2;
            }
        }
        .section__faq{
            flex-direction: row;
            padding:0;
            .accordion-flush{
                padding:0;
            }
        }
        .section__frase{
            width: 100%;
            padding-left: 0;
            margin-left: 1rem;
            line-height: 2rem;
            margin-top:1rem;
        }
        .section__cuerpoContactanos{
            .section__botonContactanos{
                padding:15px 55px;
        }
    }
}