    .header__portadaSpa{
        background-image: url(../images/PORTADASPA.jpg);
        background-size:cover;
        .header__lineaYTituloSpa{
            @include flex-row-center;
            margin-left:1rem;
            margin-top:10rem;
            margin-bottom:10rem;
            .header__lineaLargaIzq{
                align-content: center;
                height: 2px;
                width: 30%;
                background-color:map-get($color,rojo);
            }
            .header__tituloSpa{
                align-content: center;
                font-size: map-get($font-style,tamaño-titulo);
                padding-left:2rem;
                padding-right: 2rem;
                color:map-get($color,rojo);
            }
            .header__lineaLargaDer{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-content: center;
                flex-wrap: wrap;
                height: 2px;
                width: 30%;
                background-color:map-get($color,rojo);
            }
        }
    }
        .main__galeriaSpa{
            .main__parrafo1{
                @include flex-row-center;
                flex-wrap: wrap;
                align-items: center;
                width: 500px;
                padding: 2rem;
                text-align: center;
                margin-top:4rem;
                margin-left: 4rem;
                color: map-get($color,rojo);
                font-weight: map-get($font-style,negrita);
                font-size: 30px;
            }
            .main__imagenSpa1{
                width: 700px;
                height: 500px;
                padding: 2rem;
                border-radius: 8px;
            }
            .main__imagenSpa2{
                width: 100%;
                height:600px;
                object-fit: cover;
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.336);
            }
            .main__imagenSpa3{
                @extend .main__imagenSpa1;
            }
            .main__parrafo2 {
                @extend .main__parrafo1;
                font-size: map-get($font-style,tamaño-nav);
                margin-top: 2rem;
            }
            .main__imagenSpa4{
                @extend .main__imagenSpa2;
            }
            .main__parrafo3{
                @extend .main__parrafo1;
                font-size: 20px;
                margin-top:3rem}
            .main__imagenSpa5{
                @extend .main__imagenSpa1;
            }
        }
    

    @media only screen and (max-width: 500px) {
        .header__portadaSpa{
            margin-right:0;
            margin-left:0;
            background-position: center;
            .header__lineaYTituloSpa{
                .header__tituloSpa{
                    margin-left: 0;
                    font-size: 36px;
                    flex-wrap: wrap;
                }
                .header__lineaLargaDer{
                    margin-right: 2rem;
                }
            }   
        }
        .main__galeriaSpa{
            .main__parrafo1{
                font-size: 22px;
                margin-left: 0;
                margin-top:1rem;
                width: 100%;            
            }
            .main__imagenSpa1{
                display: none;
            }
            .main__imagenSpa2{
                width: 100%;
                height: auto;
            }
            .main__imagenSpa3{
                display: flex;
                width: 100%;
                height: auto;
            }
            .main__parrafo2{
                font-size: 16px;
                margin-left: 0;
                width: 100%; 
            }
            .main__parrafo3{
                font-size: 16px;
                margin-left: 0;
                margin-top:2rem;
                width: 100%; 
            }
            .main__imagenSpa5{
                display: flex;
                width: 100%;
                height: auto;
            }
        }
    }

    @media only screen and (min-width: 500px) and (max-width:768px) {
    .header__portadaSpa{
        margin-right:0;
        margin-left:0;
        background-position: center;
        .header__lineaYTituloSpa{
            .header__tituloSpa{
                margin-left: 0;
                font-size: 36px;
                flex-wrap: wrap;
            }
            .header__lineaLargaDer{
                margin-right: 2rem;
            }
        }   
    }
    .main__galeriaSpa{
        .main__parrafo1{
            font-size: 22px;
            margin-left: 0;
            margin-top:1rem;
            width: 100%;            
        }
        .main__imagenSpa1{
            display: none;
        }
        .main__imagenSpa2{
            width: 100%;
            height: auto;
        }
        .main__imagenSpa3{
            display: flex;
            width: 100%;
            height: auto;
        }
        .main__parrafo2{
            font-size: 16px;
            margin-left: 0;
            width: 100%; 
        }
        .main__parrafo3{
            font-size: 16px;
            margin-left: 0;
            margin-top:2rem;
            width: 100%; 
        }
        .main__imagenSpa5{
            display: flex;
            width: 100%;
            height: auto;
        }
    }
}