.header__portadaSpa{
    background-image: url(../images/portada__spa.png);
    background-size:cover;
    .header__lineaYTituloSpa{
        @include flex-row-center;
        margin-left:1rem;
        margin-top:10rem;
        margin-bottom:16rem;
        .header__lineaLargaIzq{
            align-content: center;
            height: 2px;
            width: 30%;
            background-color:map-get($color,bordo);
            }
        .header__tituloSpa{
            align-content: center;
            font-size: 72px;
            font-weight: map-get($font-style,w700);
            padding-left:2rem;
            padding-right: 2rem;
            color:map-get($color,colorclaro);
            letter-spacing: 2px;
            }
        .header__lineaLargaDer{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-content: center;
            flex-wrap: wrap;
            height: 2px;
            width: 30%;
            background-color:map-get($color,rojo);
            }
        }
    }
.main__seccionPrimera{
    @include flex-row-start;
    flex-wrap: wrap;
    align-items: center;
    background-color: map-get($color,colorclaro);
    margin-top: 1rem;
    margin-bottom: 1rem;
    .main__imagenSpa1{
        background-color:map-get($color,colorclaro);
        width: 43rem;
    }
    .main__titulo1{
        @include flex-row-center;
        margin-bottom: 1rem;
        font-size:  28px;
        font-weight:  map-get($font-style,w500);
        line-height: 3rem;
        color: map-get($color, bordo);
        letter-spacing: 5px;
        padding-right: 3rem;
        padding-left:2rem;
        text-transform: uppercase;
        text-align: center
    }
    .main__parrafo1{
        @include flex-row-center;
        flex-wrap: wrap;
        align-content: flex-start;
        font-size:  map-get($font-style,tamaño-nav);
        line-height: 2rem;
        padding-right:3rem;
        padding-left:2rem;
        color: map-get($color, bordo);
        text-align: center;
        }
    }

.main__imagenSpa2{
    width: 100%;
    height:600px;
    object-fit: cover;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.336);
    }
.main__seccionSegunda{
    @extend .main__seccionPrimera;
    background-color: map-get($color, bordo );
    .main__imagenSpa3{
        @extend .main__imagenSpa1;
    }
    .main__titulo2{
        @extend .main__titulo1;
        color: map-get($color, colorclaro);
    }
    .main__parrafo2 {
        @extend .main__parrafo1;
        font-size: map-get($font-style,tamaño-nav);
        margin-top: 2rem;
        color: map-get($color, colorclaro);
        }
    }   
.main__imagenSpa4{
    @extend .main__imagenSpa2;
    }
.main__seccionTercera{
    @extend .main__seccionPrimera;
    .main__imagenSpa5{
        @extend .main__imagenSpa1;
        }
    .main__titulo3{
        @extend .main__titulo1;
        }
    .main__lista {
        @extend .main__parrafo1;
        font-size: map-get($font-style,tamaño-nav);
        margin-top: 2rem;
        list-style-type:circle;
        }
    }          
    

    @media only screen and (max-width: 500px) {
        .header__portadaSpa{
            margin-right:0;
            margin-left:0;
            background-position: center;
            .header__lineaYTituloSpa{
                .header__tituloSpa{
                    margin-left: 0;
                    font-size: 36px;
                    flex-wrap: wrap;
                }
                .header__lineaLargaDer{
                    margin-right: 2rem;
                }
            }   
        }
        .main__galeriaSpa{
            .main__parrafo1{
                font-size: 22px;
                margin-left: 0;
                margin-top:1rem;
                width: 100%;            
            }
            .main__imagenSpa1{
                display: none;
            }
            .main__imagenSpa2{
                width: 100%;
                height: auto;
            }
            .main__imagenSpa3{
                display: flex;
                width: 100%;
                height: auto;
            }
            .main__parrafo2{
                font-size: 16px;
                margin-left: 0;
                width: 100%; 
            }
            .main__parrafo3{
                font-size: 16px;
                margin-left: 0;
                margin-top:2rem;
                width: 100%; 
            }
            .main__imagenSpa5{
                display: flex;
                width: 100%;
                height: auto;
            }
        }
    }

    @media only screen and (min-width: 500px) and (max-width:768px) {
    .header__portadaSpa{
        margin-right:0;
        margin-left:0;
        background-position: center;
        .header__lineaYTituloSpa{
            .header__tituloSpa{
                margin-left: 0;
                font-size: 36px;
                flex-wrap: wrap;
            }
            .header__lineaLargaDer{
                margin-right: 2rem;
            }
        }   
    }
    .main__galeriaSpa{
        .main__parrafo1{
            font-size: 22px;
            margin-left: 0;
            margin-top:1rem;
            width: 100%;            
        }
        .main__imagenSpa1{
            display: none;
        }
        .main__imagenSpa2{
            width: 100%;
            height: auto;
        }
        .main__imagenSpa3{
            display: flex;
            width: 100%;
            height: auto;
        }
        .main__parrafo2{
            font-size: 16px;
            margin-left: 0;
            width: 100%; 
        }
        .main__parrafo3{
            font-size: 16px;
            margin-left: 0;
            margin-top:2rem;
            width: 100%; 
        }
        .main__imagenSpa5{
            display: flex;
            width: 100%;
            height: auto;
        }
    }
}