.header__portadaStudios{
    background-image: url(../images/portada__studios.png);
    background-size: cover;
    z-index:100;
    position:sticky;
    .header__tituloStudios{
        @include flex-row-center;
        flex-wrap: nowrap;
        width: 500px;
        font-size:  map-get($font-style,tamaño-titulo);
        margin-bottom: 1rem;
        color:map-get($color,colorclaro);
        margin-right: 0;
        margin-left: 2rem;
        letter-spacing: 3px;
    }
    .header__parrafoStudios{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        font-size: map-get($font-style,tamaño-parrafo);
        width: 400px;
        padding:1rem;
        border-radius: 8px;
        margin-left:3rem;
        margin-top: 1rem;
        background-color: #311b1b6e;
        color: map-get($color,colorclaro);
    }
    .header__botonStudios{
        @include flex-row-center;
        @include estiloBoton;
        flex-wrap: nowrap;
        background-color: map-get($color, bordo);
        margin-top:1rem;
        margin-bottom: 2rem;
        margin-left:11rem;
    }
}
@media only screen and (max-width: 500px) {
        .header__portadaStudios{
            margin-right:0;
            margin-left:0;
            background-position: center;
            .header__tituloYParrafoStudios{
                .header__tituloStudios{
                    margin-left: 0;
                    font-size: 36px;
                    flex-wrap: wrap;
                    width: 100%;
                }
                .header__parrafoStudios{
                    margin-left: 0;
                    flex-wrap: wrap;
                    width: 100%;
                }
                .header__botonStudios{
                    margin-left: 7rem;
                    margin-right: 0;
                    justify-content: center;
                }
            }   
        }
    }

