.header__portadaSuites{
    background-image:url(../images/portadapagsuites.jpg);
    background-size: cover;
    z-index:100;
    position:sticky;
    .header__tituloSuites{
        @include flex-row-center;
        flex-wrap: nowrap;
        width: 450px;
        font-size:  map-get($font-style,tamaño-titulo);
        margin-bottom: 1rem;
        color:map-get($color,bordo);
        margin-right: 0;
        margin-left: 2rem;
    }
    .header__parrafoSuites{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        font-size: map-get($font-style,tamaño-parrafo);
        width: 400px;
        padding:1rem;
        border-radius: 8px;
        margin-left:3rem;
        margin-top: 1rem;
        background-color: #311b1b6e;
        color: white;
    }
    .header__botonSuites{
        @include flex-row-center;
        @include estiloBoton;
        flex-wrap: wrap;
        background-color: map-get($color, bordo);
        margin-top:1rem;
        margin-bottom: 2rem;
        margin-left:11rem;
    }
}

.main__tipos{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    text-align: center;
    .main__tiposNombres{
        display: flex;
        flex-flow: row nowrap;
        margin-top:1rem;
        font-size:map-get($font-style,tamaño-nav);
        font-weight:map-get($font-style,w500);
        color: map-get($color,rojo);
        .main__nav{
            color: map-get($color,rojo);
        }
    }
}

.main__derecha{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: black;
    border-width: 1px;
    border-style: solid;
    padding-top:4rem;
    padding-left:3rem;
    padding-bottom: 4rem;
    .main__imagenDerecha{
        @include imagenApaisada;
        justify-content: flex-start;
    }
    .main__lineaYTituloDerecha{
        @include flex-row-start;
        flex-wrap: wrap;
        align-items: flex-end;
        .main__lineaDerecha{
            @include lineaTitulos;
            background-color:map-get($color, rojo);
        }
        .main__tituloDerecha{
            @extend .tituloDeptos;
            color:map-get($color, rojo);
        }
    }
    .main__parrafoDerecha{
        @include parrafoDescripcionDt;
        margin-left: 1rem;
        color:black;
    }
}

.main__izquierda{
    @extend .main__derecha;
    background-color: map-get($color,bordo);
    .main__lineaYTituloIzquierda{
        @include flex-row-start;
        flex-wrap: wrap;
        align-items: flex-end;
        .main__lineaIzquierda{
            @include lineaTitulos;
            background-color: white;
            }
        .main__tituloIzquierda{
            @extend .tituloDeptos;
            color:white;
        }
    }
    .main__parrafoIzquierda{
        @include parrafoDescripcionDt;
        background-color: map-get($color, bordo);
    }
    .main__imagenIzquierda{
        @include imagenApaisada;
        justify-content: flex-end;
    }
}


@media only screen and (max-width: 500px) {
    .header__portadaSuites{
        margin-right:0;
        margin-left:0;
        background-position: center;
        .header__tituloYParrafoSuites{
            .header__tituloSuites{
                margin-left: 0;
                font-size: 36px;
                flex-wrap: wrap;
                width: 100%;
            }
            .header__parrafoSuites{
                margin-left: 0;
                flex-wrap: wrap;
                width: 100%;
            }
            .header__botonSuites{
                margin-left: 7rem;
                margin-right: 0;
                justify-content: center;
            }
        }   
    }
    .main__tipos{
        visibility:hidden;
        margin: 0;
        .main__tiposNombres{
            visibility:hidden;
            margin: 0;
            .main__nav{
                visibility:hidden;
                margin: 0;
            }
        }
    }
    .main__derecha{
        padding: 1rem;
        .main__imagenDerecha{
            width: 100%;
            height: auto;
        }
        .main__lineaYTituloDerecha{
            .main__tituloDerecha{
                font-size: 26px;
            }
        }
    }
    .main__izquierda{
        padding: 1rem;
        padding-bottom: 3rem;
        .main__imagenIzquierda{
            width: 100%;
            height: auto;
        }
        .main__lineaYTituloIzquierda{
            .main__tituloIzquierda{
                font-size: 26px;
            }
        }
    }
}