@import "variables";
@import "suites";
@import "studios";
@import "spa";
@import "contacto";
@import "https://unpkg.com/transition-style";

html{
    font-size: 62,5%;
}

*{
    margin:0;
    padding:0;
}
body{
    font-family: "Comfortaa", Arial, Helvetica, sans-serif;
    background-color:map-get($color,colorclaro);
}
hr{
    opacity:100%;
}
a{
    text-decoration: none;  
}
.container-fluid{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.header__video{
    display: flex;
    position:absolute;
    overflow-x:hidden;
    z-index: -100;
    width:100%;
    object-fit:contain; 
}

.header__nav{
    position: static;   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    z-index: 200;
    font-size: 26px;
    font-weight:900;
    list-style-type: none;
    color:map-get($color,colorclaro);
    margin-top: 10px;
    letter-spacing: 1px;
    @include animation-delay;
    .header__logo{
        @include flex-row-center;
        flex-wrap: nowrap;
        align-items: center;
        width: 8rem;
        height: 8rem;
        margin-left: 0rem;
        z-index: 200;
    }
}
.header__disponibilidad{
    @include flex-row-center;
    @include animation-delay;
    flex-wrap: nowrap;
    align-items: flex-end;
    text-align: center;
    margin-bottom:6rem;
    margin-top:12rem;
    z-index: 100;
    .header__boton{
        @include estiloBoton;
        z-index: 100;  
        letter-spacing: 1px;
    }
}

footer{
    .footer__informacion{
        display:flex;  
        flex-flow:column nowrap;
        justify-content: center;
        font-weight: map-get($font-style,w700);
        font-size: 14px;
        margin-left: 5rem;
        .footer__logo{
            width: 5rem;
            height: 5rem;
            margin-top:1rem;
            margin-bottom:1rem;
        }
    }
    .footer__redes{
        @include flex-row-start;
        flex-wrap: nowrap;
        width: 40px;
        height: 40px;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-left: 5rem;        
        .footer__positionFb {
            display: flex;
            width: 40px;
            height: 40px;
            margin-right: 1rem;
        }
        .footer__positionIg{
            @extend .footer__positionFb;
            margin-right: 0;
        }
    }
    .footer__newsletter{
        display: flex;
        flex-flow:column nowrap;
        align-content: center;
        justify-content: flex-end;
        font-size:  map-get($font-style,tamaño-parrafo);
        line-height: 2rem;
        margin-top: 7rem;
        margin-left: 15rem;
        .footer__formulario{
            display: flex;
            flex-flow:column nowrap;
            justify-content: flex-end;
            .footer__input{
                width:15rem;
                height: 1.5rem;
                border-radius: 8px;
                background-color: map-get($color, colorclaro );
            }
            .footer__boton{
                @include flex-row-center;
                flex-wrap: nowrap;
                align-items: center;
                background-color: map-get($color,rojo);
                @include estiloBoton;
                margin-top:1rem;
                margin-right:15rem;
            }
        }
    }
    .footer__wsp{
        position: fixed;
        bottom: 50px;
        right: 50px;
        .footer__wspImagen{
            height: 70px;
            width: 70px;
            background-color: rgba(46, 172, 46, 0);
            padding: 10px;
            border-radius: 50%;
        }
    }
}

.frase{
    @include flex-row-center;
    flex-wrap: wrap;
    align-items: flex-end;
    color: map-get($color,rojo);
    margin-top: 8rem;
    margin-bottom:4rem;
    margin-left: 3rem;
    .animate__fadeIn{
        animation-delay:2;
        animation-name: frase-fade;
    }
    .main__fraseHr{
        color: map-get($color, bordo);
        width: 1000px;
    }
    .main__fraseHrCorta{
        color: map-get($color, bordo);
        width: 700px;
        margin-top: 0.1rem;
        margin-bottom:0.1rem;
    }
    .main__frase{
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 760px;
        font-size:  map-get($font-style,tamaño-subtitulo);
        color: map-get($color,rojo);
        text-align: center;
    b{
        letter-spacing: 2px;
        }
    }
}
.main__suites{
    .main__tituloYLineaSuites{
        display: flex ;
        flex-flow: row nowrap;
        justify-items: flex-end;
        align-items: flex-end;
        margin-left:6rem;
        .main__tituloSuites{
            color: map-get($color,rojo);
            font-weight: map-get($font-style,w700);
            font-size: 22px;
            letter-spacing: 1.5px;
        }
        .main__lineaSuites{
            height: 3.4px;
            width: 25%;
            margin-right:0.5rem;
            color: map-get($color,rojo);
            opacity: 100%;
        }
    }
    .main__parrafoSuites{
        display: flex;
        flex-flow: row wrap;
        color: black;
        margin-left: 5rem;
        text-align: center;
        font-size: 14px;
        line-height: 1rem;
        width: 320px;
        letter-spacing: 0.5px;
        text-align: justify;
    }
    .main__imagenSuites{
        width: 20rem;
        height:26rem;
        margin-left: 5rem;
    }
    .main__botonDescubrirSuites{
        @include flex-row-center;
        flex-wrap: wrap;
        color: map-get($color,bordo);
        padding: 15px 32px;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        border-radius: 10px;
        font-weight:  map-get($font-style,negrita);
        transition: height 1s;
    }
}
.main__studios{
    animation-duration: 5s;
    animation-name: mainstudios-animation;
    .main__imagenStudios{
        width: 20rem;
        height:26rem;
    }
    .main__tituloYLineaStudios{
        @include flex-row-start;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-top: 5px;
        .main__tituloStudios{
            color: map-get($color,rojo );
            font-weight:  map-get($font-style,w700);
            font-size:  22px;
            margin-top: 0.5rem;
            letter-spacing: 2px;
        }
        .main__lineaStudios{
            height: 1.5px;
            width:18%;
            color:map-get($color,rojo);
            margin-left: 0.5rem;
            opacity: 100%;
        }
    }
    .main__parrafoStudios{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        color: black;
        font-size: 14px;
        line-height: 0.9rem;
        margin-bottom: 9px;
        margin-top:5px;
        letter-spacing: 0.5px;
        width: 320px;
        text-align: justify;
    }
    .main__botonDescubrirStudios{
        @include flex-row-center;
        flex-wrap: wrap;
        color: map-get($color,bordo);
        padding: 15px 32px;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        border-radius: 10px;
        font-weight:  map-get($font-style,negrita);
        transition: height 1s;
        margin-right: 5rem;
    }
}

.section__sobreNosotros{
    @include flex-row-start;
    flex-wrap: wrap;
    align-items: center;
    background-color: map-get($color,bordo);
    margin-top: 3rem;
    .section__imagen{
        background-color:map-get($color,bordo);
        width: 40rem;
    }
    .section__tituloSobreNosotros{
        @include flex-row-center;
        margin-bottom: 1rem;
        font-size:  38px;
        font-weight:  map-get($font-style,w500);
        line-height: 3rem;
        color: map-get($color, colorclaro);
        letter-spacing: 5px;
        margin-right: 4rem;
    }
    .section__parrafoSobreNosotros{
        @include flex-row-center;
        flex-wrap: wrap;
        align-content: flex-start;
        font-size:  map-get($font-style,tamaño-parrafo);
        line-height: 2rem;
        padding-right: 3rem;
        color: map-get($color, colorclaro);
    }
}

.section__spa{
    background-image: url(../images/spa1.png);
    background-position: center;
    background-size: cover;
    margin-top: 4rem;
    margin-bottom: 2rem;
    .section__tituloSpa{
        @include flex-row-center;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
        font-size: 54px;
        line-height: 5rem;
        color:map-get($color , negrita);
        font-weight:  map-get($font-style,negrita);
        letter-spacing: 3px;
    }
    .section__parrafoSpa{
        @include flex-row-center;
        flex-wrap: wrap;
        align-content: center;
        text-align: center ;
        font-size:  map-get($font-style,tamaño-nav);
        width: 30rem;
        margin-top:3rem;
        margin-left:5rem;
        color: black;
        background-color: #ffffff83;
        padding:1.5rem;
        border-radius: 20px;
    }
    .section__botonSpa{
        @include flex-row-center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        @include estiloBoton;
            flex-wrap: wrap;
            font-size: 18px;
            border-radius: 28px;
            margin-left: 14rem;
    }
}

@media only screen and (max-width:500px){
    body{
        width: 100% !important;
    }
    .header__nav{
        font-size: 13px;
        margin-right: 0;
        .header__logo{
            width: 5rem;
            height: 5rem;
        }
    }
    .header__disponibilidad{
        margin-top: 3rem;
        margin-right: 0;
        margin-bottom: 2rem;
        justify-content: center;
        .header__boton{
            padding: 10px 12px;
            font-size: 9px;
            margin-right: 0;
            }
        }
    .frase{
        margin-left: 0;
        margin-top:3rem;
        .main__fraseHr{
            display: flex;
            flex-wrap: wrap;
            width: 90%;
        }
        .main__fraseHrCorta{
            display: flex;
            flex-wrap: wrap;
            width: 70%;
        }
        .main__frase{
            display: flex;
            flex-wrap: wrap;
            margin-top:1rem;
            margin-left: 3rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
            font-size: 20px;
            justify-content: center;
            text-align: center;
            width: 400px;
        }
    }
    .main__suites{
        @include flex-row-center;
        margin-top:2rem;
        flex-flow: row wrap;
        .main__tituloYLineaSuites{
            margin-left:3rem;
            .main__lineaSuites{
                width: 100px;
            }
        }
        .main__parrafoSuites{
            margin-left:1rem;
            margin-right: 1rem;
            font-size: 15px;
            line-height: 1.5rem;
            flex-flow:row wrap;
        }
        .main__imagenSuites{
            @include flex-row-center;
            flex-wrap: wrap;
            width: 60%;
            height: auto;
            margin-left: 0;
        }
        .main__botonDescubrirSuites{
            margin-left: 0;
        }
    }
    .main__studios{
        @include flex-row-center;
        margin-top:2rem;
        flex-flow: row wrap;
        .main__tituloYLineaStudios{
            margin-left:0rem;
            .main__lineaStudios{
                width: 100px;
            }
        }
        .main__parrafoStudios{
            margin-left:1rem;
            margin-right: 1rem;
            font-size: 15px;
            line-height: 1.5rem;
            flex-flow:row wrap;
        }
        .main__imagenStudios{
            @include flex-row-center;
            flex-wrap: wrap;
            width: 60%;
            height: auto;
            margin-left: 0;
        }
        .main__botonDescubrirStudios{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .section__sobreNosotros{
        .section__imagen{
            display: flex;
            flex-flow: row wrap;
            width: 100%;
        }
        .section__tituloSobreNosotros{
            font-size: 26px;
            margin-left: 4.6rem;
            text-align: center;
        }   
        .section__parrafoSobreNosotros{
            font-size: 14px;
            margin-left: 4rem;
            text-align: center;
        }
    }
    .section__spa{
        .section__tituloSpa{
            font-size: 40px;
            margin-top:2rem;
            margin-left: 1rem;
            margin-right: 1.5rem;
        }
        .section__parrafoSpa{
            margin-top: 0;
            margin-left: 0;
            width: auto;
            font-size: 16px;
        }
        .section__botonSpa--modifier{
            display: flex;
            justify-content: center;
            .section__botonSpa{
                margin-left: 0;
            }
        }
    }
    footer{
        .footer__informacion{
            margin-left: 0rem;
            text-align: center;
            .footer__logo{
                margin-left: 40%;
            }
        }
        .footer__redes{
            margin-left:0rem;
            justify-content: center;
            width: 100%;
        }
        .footer__newsletter{
            margin-top:4rem;
            flex-flow: column wrap;
            justify-content: center;
            margin-left:0;
            .footer__formulario{
                justify-content: center;
                .footer__boton{
                    margin-right: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 500px) and (max-width:768px){
    body{
        width: 100% !important;
    }
    .header__nav{
        font-size: 16px;
        margin-right: 0;
        .header__logo{
            width: 5rem;
            height: 5rem;
        }
    }
    .header__disponibilidad{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top:9rem;
        margin-bottom:0rem;
        .header__boton{
            padding: 12px 12px;
            font-size: 12px;
            margin-right: 0;
            }
        }
    .frase{
        margin-left: 0;
        margin-top:0rem;
        .main__fraseHr{
            display: flex;
            flex-wrap: wrap;
            width: 90%;
        }
        .main__fraseHrCorta{
            display: flex;
            flex-wrap: wrap;
            width: 70%;
        }
        .main__frase{
            display: flex;
            flex-wrap: wrap;
            font-size: 26px;
            justify-content: center;
            text-align: center;
            margin-top:1rem;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 1rem;
        b{
            margin-left: 10px;
            }
        }
    }
    .main__suites{
        @include flex-row-center;
        margin-top:2rem;
        flex-flow: column wrap;
        .main__tituloYLineaSuites{
            margin-left:8rem;
            .main__lineaSuites{
                width: 150px;
            }
        }
        .main__parrafoSuites{
            font-size: 15px;
            line-height: 1.5rem;
            flex-flow:row wrap;
            width: 70%;
            margin-left: 8rem;
        }
        .main__imagenSuites{
            @include flex-row-center;
            flex-wrap: wrap;
            width: 65%;
            height: auto;
            margin-left:8rem;

        }
        .main__botonDescubrirSuites{
            margin-left: 0.5rem;
        }
    }
    .main__studios{
        @include flex-row-center;
        margin-top:2rem;
        flex-flow: row wrap;
        margin-right: 2rem;
        .main__tituloYLineaStudios{
            .main__lineaStudios{
                width: 150px;
            }
        }
        .main__parrafoStudios{
            margin-left:1rem;
            margin-right: 1rem;
            font-size: 15px;
            line-height: 1.5rem;
            flex-flow:row wrap;
            width: 70%
        }
        .main__imagenStudios{
            @include flex-row-center;
            flex-wrap: wrap;
            width: 65%;
            height: auto;
            margin-left: 0;
        }
        .main__botonDescubrirStudios{
            margin-left: 0;
            margin-right: 0;
        }
    }
    .section__sobreNosotros{
        .section__imagen{
            display: flex;
            flex-flow: row wrap;
            width: 105%;
        }
        .section__tituloSobreNosotros{
            font-size: 26px;
            margin-left: 15%;
            text-align: center;
        }   
        .section__parrafoSobreNosotros{
            font-size: 14px;
            margin-left: 15%;
            text-align: center;
        }
    }
    .section__spa{
        .section__tituloSpa{
            font-size: 32px;
            margin-top:2rem;
        }
        .section__parrafoSpa{
            margin-top: 0;
            margin-left: 0;
            width: auto;
            font-size: 16px;
        }
        .section__botonSpa--modifier{
            display: flex;
            justify-content: center;
            .section__botonSpa{
                margin-left: 0;
            }
        }
    }
    footer{
        .footer__informacion{
            margin-left: 0rem;
            text-align: center;
            .footer__logo{
                margin-left: 40%;
            }
        }
        .footer__redes{
            margin-left:0rem;
            justify-content: center;
            width: 100%;
        }
        .footer__newsletter{
            margin-top:4rem;
            flex-flow: column wrap;
            justify-content: center;
            margin-left:0;
            .footer__formulario{
                justify-content: center;
                .footer__boton{
                    margin-right: 0;
                }
            }
        }
    }
}